{{>layout/header}}
<center>
    <h1>Admin Page</h1>
    <div class="post-description">
        <h4>전체 게시물 관리</h4>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#posts}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="/posts/{{id}}">
                                <img src="/postImage/{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <!-- Product price-->
                                    <p>{{price}}원</p>
                                    <p>{{status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/posts}}
            </div>
        </div>
    </section>
</center>
{{>layout/footer}}
{{>layout/js}}
<script src="/js/post.js"></script>
<script src="/js/carousel.js"></script>
</body>
</html>