<div class="footer">
		<span id="foot-left">
			<i class="mdi mdi-account-circle"></i>	너와 나의 장터, YourMine
		</span>
    <span id="foot-right">
			이용문의
			<span style="color: rgb(141, 141, 141); font-size: 0.9rem; margin-left: 5px;">
				yourmineService@Gmail.com
			</span>
		</span>
</div>