<nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.jpg" width="30" height="30" alt="logo">
        <strong>YouRMinE</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            {{#userInfo}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myPage">my page</a>
                </li>
            {{/userInfo}}
            {{^userInfo}}
                <li class="nav-item">
                    <a class="nav-link" href="/loginPage">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">signup</a>
                </li>
            {{/userInfo}}
        </ul>
        <form class="d-flex" action="/posts/search" method="get">
            <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>
{{#userInfo}}
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
            <img src="{{#userInfo.profile}}/profile/{{userInfo.profile}}{{/userInfo.profile}}
                               {{^userInfo.profile}}/img/default.jpeg{{/userInfo.profile}}" width="30" height="30" alt="logo">
            {{userInfo.name}}
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
</div>
{{/userInfo}}