<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.jpg" width="30" height="30" alt="logo">
        <strong>YourMine</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            {{#userInfo}}
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">logout</a>
                </li>
                <li class="nav-item" onclick="getMessage()">
                    <a id="offcanvas" class="nav-link"
                       data-bs-toggle="offcanvas"
                       data-bs-target="#offcanvasWithBothOptions">
                        info
                    </a>
                </li>
                {{#admin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/adminPage">admin</a>
                    </li>
                {{/admin}}
                <input type="hidden" id="alarm" value="{{userInfo.id}}">
                {{>layout/offcanvas}}
            {{/userInfo}}
            {{^userInfo}}
                <li class="nav-item">
                    <a class="nav-link" href="/loginPage">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">signup</a>
                </li>
            {{/userInfo}}
            <li class="nav-item">
                <a class="nav-link" href="/posts/save">posting</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/request/category/0/의류,잡화">의류,잡화</a></li>
                    <li><a class="dropdown-item" href="/request/category/0/문구">문구</a></li>
                    <li><a class="dropdown-item" href="/request/category/0/가구,가전">가구,가전</a></li>
                    <li><a class="dropdown-item" href="/request/category/0/도서,취미">도서,취미</a></li>
                    <li><a class="dropdown-item" href="/request/category/0/디지털">디지털</a></li>
                    <li><a class="dropdown-item" href="/request/category/0/미용">미용</a></li>
                    <li><a class="dropdown-item" href="/request/category/0/기타">기타</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" id="keyword" placeholder="Search">
            <input type="button" class="btn btn-outline-success" value="Search" onclick="search()">
        </form>
    </div>
</nav>
<form method="post" action="/logout" id="logoutForm">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
