<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
            <img src="{{#userInfo.profile}}/profile/{{userInfo.profile}}{{/userInfo.profile}}
                {{^userInfo.profile}}/img/default.jpeg{{/userInfo.profile}}" width="30" height="30" alt="logo">
            {{userInfo.name}}
        </h5>
        <a href="/myPage" id="off-myPage">my page</a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-truncate" id="messageBox">

    </div>
</div>
