
body {
    background-color: white;
}
.account-form {
    text-align: center;
    width: auto;
    padding: 50px;
    margin-top: 200px;
    margin-left: 200px;
    border-radius: 30px;
    background-color: #e3f2fd;
}