@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
    font-family: 'Jeju Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
}
.footer {
    margin-top: 10%;
    height: 60px;
    width: 100%;
    background-color: white;
}
#foot-left {
    float: left;
    margin-top: 15px;
    margin-left: 5%;
    color: rgb(104, 104, 104);
}
#foot-right {
    float: right;
    margin-top: 15px;
    margin-right: 5%;
    color: rgb(104, 104, 104);
}
.password {
    font-family: sans-serif;
}
#off-myPage {
    margin-left: 45%;
}
h3 {
    margin-top: 5%;
}
#more {
    width: fit-content;
    margin: auto;
}
#mainLogo {
    margin-left: 20px;
}