a {
    text-decoration-line: none;
    color: black;
}
#carousel {
    width: 100%;
    margin: 0px auto 30px auto;
}
.carousel-out img {
    height: 300px;
}
.post-description {
    width: 120px;
    margin: 5% auto;
}