{{>layout/header}}
<div class="account-form">
{{#userInfo}}
    <h1>주소 및 전화번호 입력 이후 이용 가능합니다</h1>
    <a href="/userModify">수정하기</a>
    <a href="/">돌아가기</a>
{{/userInfo}}
{{^userInfo}}
    <h1>로그인 후 이용가능합니다</h1>
    <a href="/loginpage">로그인</a>
    <a href="/">돌아가기</a>
{{/userInfo}}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/account.js"></script>
<link href="/css/account.css" rel="stylesheet" type="text/css" media="all">
</body>
</html>