{{>layout/header}}
<div class="account-form">
{{#userInfo}}
    <h3>주소 및 전화번호 입력 이후 이용 가능합니다</h3>
    <a href="/userModify"><strong>수정하기</strong></a><br>
    <a href="/"><strong>돌아가기</strong></a>
{{/userInfo}}
{{^userInfo}}
    <h3>로그인 후 이용가능합니다</h3>
    <a href="/loginpage"><strong>로그인</strong></a><br>
    <a href="/"><strong>돌아가기</strong></a>
{{/userInfo}}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/account.js"></script>
<link href="/css/account.css" rel="stylesheet" type="text/css" media="all">
</body>
</html>