{{>layout/header}}
<link rel="stylesheet" href="/css/modal.css"/>
<link rel="stylesheet" href="/css/account.css"/>
{{>layout/nav}}
<div class="account-form">
    <div id="login-logo">
        <a href="/">YourMine</a>
    </div>
    <form action="/login" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <div class="form-floating login">
            <input type="text" class="form-control" placeholder="id" aria-label="id" id="id" name="id">
            <label for="id">아이디</label>
        </div>
        <div class="form-floating login">
            <input type="password" class="form-control password" placeholder="password" aria-label="password" id="password" name="password">
            <label for="password">비밀번호</label>
        </div>
        <input type="submit" value="로그인" class="btn btn-primary login"><br>
        <a href="/signup" class="btn btn-success login" role="button">회원가입</a>
    </form>
    <div id="bottom-buttons">
        <button type="button" class="btn btn-secondary" id="btn-modal1">아이디 찾기</button>
        <button type="button" class="btn btn-secondary" id="btn-modal2">비밀번호 찾기</button>
    </div>
    <br>
    {{#error}}
        <div>{{& error}}</div>
    {{/error}}
    <br>
    <p><a href="/oauth2/authorization/google"><img src="/img/google_login_image.png" width=200 height=50/></a></p>
    <p><a href="/oauth2/authorization/kakao"><img src="/img/kakao_login_image.png" width=200 height=50/></a></p>
    <p><a href="/oauth2/authorization/naver"><img src="/img/naver_login_image.png" width=200 height=50/></a></p>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="find-box">
            <h4>아이디 찾기</h4>
            <p>가입시 입력한 이메일을 적어주세요</p>
            <form>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="email" aria-label="email" id="email">
                        <label for="email">이메일</label>
                    </div>
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="웹 주소" aria-label="Server" id="server"  aria-describedby="button-addon2">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" onclick="naver()">naver.com</a></li>
                        <li><a class="dropdown-item" onclick="google()">gmail.com</a></li>
                        <li><a class="dropdown-item" onclick="hanmail()">hanmail.net</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-secondary" id="btn-findId">아이디 찾기</button>
            </form>
        </div>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="find-box">
            <h4>비밀번호 찾기</h4>
            <form>
                <div class="form-floating input-group mb-3">
                    <input type="text" class="form-control" id="toFindId" placeholder="아이디" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <label for="toFindId">아이디</label>
                    <button class="btn btn-outline-secondary" type="button" id="btn-sendCodeById">확인</button>
                </div>
                <div class="form-floating input-group mb-3">
                    <input type="text" class="form-control" id="code" placeholder="인증 번호" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <label for="code">인증 번호</label>
                    <button class="btn btn-outline-secondary" type="button" id="btn-pwEmailCheck">인증하기</button>
                </div>
                <div id="attach"></div>
            </form>
            <div id="button-attach"></div>
        </div>
    </div>
</div>
{{>layout/footer}}
{{>layout/js}}
<script src="/js/account.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>