{{>layout/header}}
<link rel="stylesheet" href="/css/modal.css"/>
<link rel="stylesheet" href="/css/account.css"/>
{{>layout/nav}}
<div class="mypage-div">
    <div class="mypage-info">
        {{#userInfo.profile}}
            <p><img src="{{userInfo.profile}}" id="btn-modal1" title="프로필 사진 바꾸기" width=100 height=100/></p>
        {{/userInfo.profile}}
        {{^userInfo.profile}}
            <p><img src="/img/default.jpeg" id="btn-modal1" title="프로필 사진 바꾸기" width=100 height=100/></p>
        {{/userInfo.profile}}
            <div><a href="/userModify" role="button" class="btn btn-outline-primary mypage-button">개인정보 변경</a></div><br>
        {{#userInfo.password}}
            <div><a href="/passwordModify" role="button" class="btn btn-outline-warning mypage-button">비밀번호 변경</a></div><br>
        {{/userInfo.password}}
        <input type="hidden" value="{{userInfo.id}}" id="id">
        <div><button type="button" class="btn btn-outline-danger mypage-button" id="btn-leave">회원탈퇴</button></div>
    </div>
    <div class="mypage-review">
        <div class="sell review-box">
            <h3>판매완료된 거래</h3>
            {{#sellReview}}
                <ul>
                    <li><a href="#" onclick="chatOpen('{{postId}}','{{userId}}')">{{title}}</a></li>
                </ul>
            {{/sellReview}}
            {{^sellReview}}
                <p class="cloud">판매완료한 거래가 없습니다</p>
            {{/sellReview}}
        </div>
        <div class="buy review-box">
            <h3>구매완료한 거래</h3>
            {{#buyReview}}
                <ul>
                    <li><a href="#" onclick="chatOpen('{{postId}}','{{userId}}')">{{title}}</a></li>
                </ul>
            {{/buyReview}}
            {{^buyReview}}
                <p class="cloud">구매완료한 거래가 없습니다</p>
            {{/buyReview}}
        </div>
    </div>
    <div class="mypage-post">
        <h3>내가 올린 상품</h3>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>제목</th>
                <th>거래상태</th>
                <th>게시시간</th>
                <th>조회수</th>
            </tr>
            </thead>

            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td><a href="/posts/{{id}}">{{title}}</a></td>
                    <td>{{status}}</td>
                    <td>{{creatTime}}</td>
                    <td>{{hit}}</td>
                </tr>
            {{/posts}}
            {{^posts}}
                <tr>
                    <td colspan="4" class="cloud">내가 올린 상품이 없습니다</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <h3>내가 찜한 목록</h3>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#attention}}
                    <div class="col mb-5">
                        <a href="/posts/{{id}}">
                            <div class="card h-100">
                                <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">{{title}}</h5>
                                        <p>{{price}}원</p>
                                        <p>{{status}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/attention}}
                {{^attention}}
                    <p class="cloud">찜한 게시물이 없습니다</p>
                {{/attention}}
            </div>
        </div>
    </section>
</div>
<div id="modal1" class="modal">
    <div class="modal-content profile-modal">
        <form action="/profileModify" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="hidden" value="{{userInfo.id}}" id="id" name="id">
            <div class="form-group">
                <div class="input-group">
                    <input type="file" class="form-control" accept=".jpg, .png, .bmp, .jpeg"  id="profile" name="profile" aria-describedby="inputGroupFileAddon04" aria-label="Upload" onchange="readImage(this)">
                    <input type="submit" role="button" class="btn btn-outline-secondary" value="등록"></button>
                </div>
                {{#userInfo.profile}}
                    <img id="preview-image" src="{{userInfo.profile}}" width=100 height=100 />
                {{/userInfo.profile}}
                {{^userInfo.profile}}
                    <img id="preview-image" src="/img/default.jpeg" width=100 height=100 />
                {{/userInfo.profile}}
            </div>
            <br>
            <a href="/delProfile" role="button" class="btn btn-danger profile-button">프로필 사진 삭제</a>
        </form>
    </div>
</div>
{{>layout/footer}}
{{>layout/js}}
<script src="/js/account.js"></script>
<script src="/js/modal.js"></script>
</body>
</html>