{{>layout/header}}
{{>layout/nav}}
<div class="account-form">
    {{#userInfo.profile}}
        <p><img src="/profile/{{userInfo.profile}}" id="btn-modal1" title="프로필 사진 바꾸기" width=100 height=100/></p>
    {{/userInfo.profile}}
    {{^userInfo.profile}}
        <p><img src="/img/default.jpeg" id="btn-modal1" title="프로필 사진 바꾸기" width=100 height=100/></p>
    {{/userInfo.profile}}

    <a href="/userModify" role="button" class="btn btn-secondary">개인정보 변경</a>
    {{#userInfo.password}}
        <a href="/passwordModify" role="button" class="btn btn-secondary">비밀번호 변경</a>
    {{/userInfo.password}}
    <br>
    <input type="hidden" value="{{userInfo.id}}" id="id">
    <button type="button" class="btn btn-danger" id="btn-leave">회원탈퇴</button>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="col-md-12">
            <div class="col-md-4">
                <form action="/profileModify" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="{{userInfo.id}}" id="id" name="id">
                    <div class="form-group">
                        <label for="profile">프로필 사진</label>
                        <input type="file" id="profile" name="profile" onchange="readImage(this)">
                        {{#userInfo.profile}}
                            <img id="preview-image" src="/profile/{{userInfo.profile}}" width=100 height=100 />
                        {{/userInfo.profile}}
                        {{^userInfo.profile}}
                            <img id="preview-image" src="/img/default.jpeg" width=100 height=100 />
                        {{/userInfo.profile}}
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="사진바꾸기">
                    <a href="/delProfile" role="button" class="btn btn-danger">사진 삭제</a>
                </form>
                <br>
                <button type="button" class="close" id="close1">x</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/account.js"></script>
<script src="/js/modal.js"></script>
<link href="/css/modal.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/account.css" rel="stylesheet" type="text/css" media="all">
</body>
</html>