{{>layout/header}}
<link rel="stylesheet" href="/css/account.css"/>
{{>layout/nav}}
<div class="account-form">
    <div id="account-logo">
        회원가입
    </div>
    <form>
        <input type="hidden" id="idCheck" value="f">
        <input type="hidden" id="mailCheck" value="f">
        <div class="form-floating input-group mb-3">
            <input type="text" class="form-control" id="id" placeholder="아이디" aria-label="Recipient's username" aria-describedby="button-addon2">
            <label for="id">아이디</label>
            <button class="btn btn-outline-secondary" type="button" id="btn-idCheck">중복 확인</button>
        </div>
        <br>
        <span id="msg"></span>
        <div class="form-floating input-group mb-3">
            <input type="password" class="form-control password" id="password" placeholder="비밀번호">
            <label for="password">비밀번호</label>
        </div>
        <div class="form-floating input-group mb-3">
            <input type="password" class="form-control password" id="password2" placeholder="비밀번호 확인">
            <label for="password2">비밀번호 확인</label>
        </div>
        <div class="form-floating input-group mb-3">
            <input type="text" class="form-control" id="name" placeholder="name">
            <label for="name">이름</label>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="email" aria-label="email" id="email">
                <label for="email">이메일</label>
            </div>
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="웹 주소" aria-label="Server" id="server"  aria-describedby="button-addon2">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" onclick="naver()">naver.com</a></li>
                <li><a class="dropdown-item" onclick="google()">gmail.com</a></li>
                <li><a class="dropdown-item" onclick="hanmail()">hanmail.net</a></li>
            </ul>
            <button type="button" class="btn btn-outline-secondary" id="btn-email">메일인증</button>
        </div>
        <div class="form-floating input-group mb-3">
            <input type="text" class="form-control" id="code" placeholder="인증번호" aria-label="Recipient's username" aria-describedby="button-addon2">
            <label for="code">인증번호</label>
            <button class="btn btn-outline-secondary" type="button" id="btn-emailCheck">인증번호 확인</button>
        </div>
        <div class="form-floating input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" id="btn-postcode">주소 찾기</button>
            <input type="text" class="form-control" id="postcode" placeholder="우편번호" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
        </div>
        <div class="form-floating input-group mb-3">
            <input type="text" id="address" class="form-control" placeholder="주소" readonly>
            <label for="address">주소</label>
        </div>
        <br>
        <div class="form-floating input-group mb-3">
            <input type="text" id="detailAddress" class="form-control" placeholder="상세주소">
            <label for="detailAddress">상세주소</label>
        </div>
        <div class="form-floating input-group mb-3">
            <input type="text" id="extraAddress" class="form-control" placeholder="비고" readonly>
            <label for="detailAddress">비고</label>
        </div>
        <div class="form-floating input-group mb-3">
            <input type="tel" class="form-control" id="phone" placeholder="전화번호">
            <label for="phone">전화번호</label>
        </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary button-size">취소</a>
    <button type="button" class="btn btn-primary button-size" id="btn-signup">가입</button>
</div>
{{>layout/footer}}
{{>layout/js}}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/account.js"></script>
<script src="/js/signup.js"></script>
</body>
</html>