{{>layout/header}}
<link rel="stylesheet" href="/css/account.css"/>
{{>layout/nav}}

<h1>하위~ 판매자 개인 페이지지롱~</h1>

<div class="mypage-post">
    <h3> {{name}}님이 올린 상품</h3>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>제목</th>
            <th>가격</th>
            <th>거래상태</th>
            <th>게시시간</th>
            <th>조회수</th>
        </tr>
        </thead>

        <tbody id="tbody">
        {{#yourPost}}
            <tr>
                <td><a href="/posts/{{id}}">{{title}}</a></td>
                <td>{{price}}</td>
                <td>{{status}}</td>
                <td>{{creatTime}}</td>
                <td>{{hit}}</td>
            </tr>
        {{/yourPost}}
        </tbody>
    </table>

    <h3> {{name}}님의 판매 리뷰</h3>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>제목</th>
            <th>받은 리뷰</th>
            <th>평점</th>
        </tr>
        </thead>

        <tbody id="tbody">
        {{#sellerReviewList}}
            <tr>
                <td><a href="/posts/{{postId}}">{{title}}</a></td>
                <td>{{buyerReviewContent}}</td>
                <td>{{buyerScore}}</td>
            </tr>
        {{/sellerReviewList}}
        </tbody>
    </table>

    <h3> {{name}}님의 구매 리뷰</h3>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>제목</th>
            <th>받은 리뷰</th>
            <th>평점</th>
        </tr>
        </thead>

        <tbody id="tbody">
        {{#buyerReviewList}}
            <tr>
                <td><a href="/posts/{{postId}}">{{title}}</a></td>
                <td>{{sellerReviewContent}}</td>
                <td>{{sellerScore}}</td>
            </tr>
        {{/buyerReviewList}}
        </tbody>
    </table>
</div>

{{>layout/footer}}
{{>layout/js}}
<script src="/js/account.js"></script>
</body>
</html>