{{>layout/header}}
<link rel="stylesheet" href="/css/index.css"/>
<header class="bg-white py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black-50">
            <img src="/img/logo.png">
            <p class="lead fw-normal text-black-50 mb-0">너와 나의 모든것 YOUR MINE에서 누리세요!</p>
        </div>
    </div>
</header>
{{>layout/nav}}
<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item carousel-out active">
            <a href="/">
                <img src="/img/main1.png" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item carousel-out">
            <a href="/">
                <img src="/img/main2.png" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="post-description">
    <a href="/request/hit/0"><h4>인기 게시물</h4></a>
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5 text-truncate">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#hitPost}}
                <div class="col mb-5">
                    <a href="/posts/{{id}}">
                        <div class="card h-100">
                            <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <p>{{price}}원</p>
                                    <p>{{status}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/hitPost}}
        </div>
    </div>
</section>
{{#userInfo.address}}
    <div class="post-description">
        <a href="/request/area/{{userInfo.address}}"><h4>근처 게시물</h4></a>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#areaPost}}
                    <div class="col mb-5">
                        <a href="/posts/{{id}}">
                        <div class="card h-100">
                            <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <p>{{price}}원</p>
                                    <p>{{status}}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                {{/areaPost}}
                {{^areaPost}}
                    <p>게시물이 없습니다</p>
                {{/areaPost}}
            </div>
        </div>
    </section>
{{/userInfo.address}}
<div class="post-description">
    <a href="/request/all/0"><h4>최근 게시물</h4></a>
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#posts}}
                <div class="col mb-5">
                    <a href="/posts/{{id}}">
                    <div class="card h-100">
                        <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{title}}</h5>
                                <p>{{price}}원</p>
                                <p>{{status}}</p>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {{/posts}}
        </div>
    </div>
</section>
{{>layout/footer}}
{{>layout/js}}
<script src="/js/post.js"></script>
<script src="/js/carousel.js"></script>
</body>
</html>