{{>layout/header}}
<header class="bg-white py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black-50">
            <h1 class="display-4 fw-bolder">Your Mine</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
{{>layout/nav}}
<center>
    <a href="/request/hit/0/0"><h4>인기 게시물</h4></a>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#hitPost}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="/posts/{{id}}">
                                <img src="/postImage/{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <!-- Product price-->
                                    <p>{{price}}원</p>
                                    <p>{{status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/hitPost}}
            </div>
        </div>
    </section>
    {{#userInfo}}
    <a href="/request/area/0/{{userInfo.address}}"><h4>근처 게시물</h4></a>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#areaPost}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="/posts/{{id}}">
                                <img src="/postImage/{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <!-- Product price-->
                                    <p>{{price}}원</p>
                                    <p>{{status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/areaPost}}
            </div>
        </div>
    </section>
    {{/userInfo}}
    <a href="/request/all/0/0"><h4>최근 게시물</h4></a>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {{#posts}}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="/posts/{{id}}">
                                <img src="/postImage/{{thumbnail}}" class="card-img-top" alt="{{title}}" width="200px" height="200px">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{title}}</h5>
                                    <!-- Product price-->
                                    <p>{{price}}원</p>
                                    <p>{{status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/posts}}
            </div>
        </div>
    </section>
    </center>
{{>layout/js}}
<script src="/js/post.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>