{{>layout/header}}
<link rel="stylesheet" href="/css/account.css"/>
{{>layout/nav}}
<div class="account-form">
    <form>
        <div id="account-logo">
            비밀번호 변경
        </div>
        <input type="hidden" id="idModify" value="{{userInfo.id}}">
        <div class="form-group login">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control password" id="passwordModify" placeholder="비밀번호">
        </div>
        <div class="form-group login">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control password" id="passwordModify2" placeholder="비밀번호 확인">
        </div>
    </form>
    <div id="bottom-buttons">
        <a href="/myPage" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-passwordModify">비밀번호 변경</button>
    </div>
</div>
{{>layout/footer}}
{{>layout/js}}
<script src="/js/account.js"></script>
</body>
</html>