{{>layout/header}}
<div class="col-md-12">
    <div class="col-md-4">
        <form action="/profileModify" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{userInfo.id}}" id="id" name="id">
            <div class="form-group">
                <label for="profile">프로필 사진</label>
                <input type="file" id="profile" name="profile" onchange="readImage(this)">
                {{#userInfo.profile}}
                <img id="preview-image" src="/profile/{{userInfo.profile}}" width=100 height=100 />
                {{/userInfo.profile}}
                {{^userInfo.profile}}
                <img id="preview-image" src="/img/default.jpeg" width=100 height=100 />
                {{/userInfo.profile}}
            </div>
            <br>
            <input type="submit" value="사진바꾸기">
        </form>
        <br>
        <a href="/delProfile" methods="post">사진 삭제</a>
        <a href="/mypage" role="button" class="btn btn-secondary">마이페이지</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/account.js"></script>
</body>
</html>