{{>layout/header}}
{{>layout/nav}}
<div class="account-form">
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <input type="hidden" value="{{userInfo.id}}" id="id" name="id">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" value="{{userInfo.name}}">
                </div>
                <div class="form-group">
                    <label for="postcode">우편번호</label>
                    <input type="text" id="postcode" class="form-control" name="postcode" placeholder="우편번호" readonly>
                </div>
                <button type="button" class="btn btn-primary" id="btn-postcode">우편번호 찾기</button><br>
                <div class="form-group">
                    <label for="address">주소</label>
                    <input type="text" id="address" class="form-control" name="address" {{#userInfo.address}}value="{{userInfo.address}}"{{/userInfo.address}} readonly>
                </div>
                <br>
                <div class="form-group">
                    <label for="detailAddress">상세주소</label>
                    <input type="text" id="detailAddress" class="form-control" name="detailAddress" {{#userInfo.detailAddress}}value="{{userInfo.detailAddress}}"{{/userInfo.detailAddress}}>
                </div>
                <div class="form-group">
                    <label for="extraAddress">참고항목</label>
                    <input type="text" id="extraAddress" class="form-control" placeholder="참고항목" readonly>
                </div>
                <div class="form-group">
                    <label for="phone">전화번호</label>
                    <input type="tel" class="form-control" id="phone" name="phone" {{#userInfo.phone}}value="{{userInfo.phone}}"{{/userInfo.phone}}>
                </div>
            </form>
            <a href="/myPage" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-userModify">정보 등록</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/account.js"></script>
<link href="/css/account.css" rel="stylesheet" type="text/css" media="all">
</body>
</html>